@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden !important; /* Prevent horizontal overflow */
  scroll-behavior: smooth !important;
}

#id-particles {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 98vw !important;
  height: 100% !important;
  opacity: 100%;
  pointer-events: none !important;
}

/* Global or Component-level CSS */
form {
  min-width: 90vw !important; /* Default for mobile */
  padding: "32px" !important;
}

@media (min-width: 600px) {
  form {
    min-width: 500px !important; /* Adjusted for larger screens */
  }
}
